<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Welcome to the website of Kartik Electrical Company">
    <meta name="keywords" content="online bill pay,online electrical bill,bill paying">
    <link rel="stylesheet" href="/CSSfiles/stylecss.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Welcome to Kartik Electrical Company</title>
</head>
<body>
    <header>
      <nav id="navbar">
          <div class="container">
          <h1 class="logo"><a href="https://myproject-testing.run-ap-south1.goorm.io/">KEC <i class="fa fa-lightbulb-o"></i></a></h1>
          <ul>
              <li><a href="https://myproject-testing.run-ap-south1.goorm.io/">Home</a></li>
              <li><a class="current" href="https://myproject-testing.run-ap-south1.goorm.io/about">About</a></li>
              <li><a href="https://myproject-testing.run-ap-south1.goorm.io/contact">Contact</a></li>
              <li><a href="https://myproject-testing.run-ap-south1.goorm.io/login">Login</a></li>
          </ul>
        </div>
      </nav>
    </header>

    
    <section id="about-info" class="bg-light py-3">
        <div class="container">
             <div class="info-left">
                <h1 class="l-heading"><span class="text-primary"> About</span> KEC <i class="fa fa-lightbulb-o"></i></h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Quo, magni, odio debitis voluptate voluptatum laboriosam
                      perferendis ipsum fuga dolorem iste maxime praesentium 
                      consequatur illum. Blanditiis repellat iste in molestiae 
                      eos.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                     Expedita repellat, dolores accusantium eveniet laboriosam
                      dicta dolorem cum totam ad facilis.</p>
             </div>
             <div class="info-right">
                 <img src="/immages/person-holding-pendant-light-973506.jpg" alt="">
             </div>
         </div>
     </section>
     <div class="clr"></div>
     <section id="testamonials" class="py-3">
       <div class="container">
        <h2>What Our Customer Say</h2>
        <div class="testamonial bg-primary">
          <img src="/immages/2115246402.jpg" alt="samantha">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati dignissimos libero sequi dolor labore autem harum velit, maxime doloremque iste suscipit debitis quasi minus aliquam, accusantium placeat a exercitationem nemo consequatur laboriosam aspernatur provident mollitia rem? Minima adipisci amet nam.</p>
 
        </div>
        <div class="testamonial bg-primary">
         <img src="/immages/184821648.jpg" alt="jim">
         <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati dignissimos libero sequi dolor labore autem harum velit, maxime doloremque iste suscipit debitis quasi minus aliquam, accusantium placeat a exercitationem nemo consequatur laboriosam aspernatur provident mollitia rem? Minima adipisci amet nam.</p>
 
       </div>
       </div>
     </section>

      
    <footer id="main-footer">
      <p>Kartik Electrical Company &copy; 2019 All Rights Reserved</p>

    </footer>
  
</body>
</html>