<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Welcome to the website of Kartik Electrical Company">
    <meta name="keywords" content="online bill pay,online electrical bill,bill paying">
    <link rel="stylesheet" href="/CSSfiles/stylecss.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital@1&display=swap" rel="stylesheet">
    <title>Welcome to Kartik Electrical Company</title>
</head>
<body>
    <header>
      <nav id="navbar">
          <div class="container">
          <h1 class="logo"><a href="/Views/page1.html">KEC <i class="fa fa-lightbulb-o"></i></a></h1>
          <ul>
              <li><a href="/Views/login.html">Log-Out</a></li>
          </ul>
        </div>
      </nav>
    </header>
    
    <section id="login_as_admin">
        <div class="welcome">
            <p>Welcome to <span>KEC <i class="fa fa-lightbulb-o"></i></span> Sir</p>
        </div>
        <br>
        <div class="disp_cust_hedding">Information Of All The Branches Under You :-</div>
        <br>
        <section id="cust_info" class="branch_info">
        <table>
            <thead>
                <tr>
                    <th>Serial_No</th>
                    <th>Branch_Id</th>
                    <th>Branch_name</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tr>
                <td>01</td>
                <td class="br_id"><a href="#">1234</td>
                <td>Navanagar Branch</td>
                <td>Plot No:- 27 gokul road 8th cross navnagar Bangalore</td>
            </tr>
            <tr>
                <td>01</td>
                <td class="br_id"><a href="#">1234</td>
                <td>Navanagar Branch</td>
                <td>Plot No:- 27 gokul road 8th cross navnagar Bangalore</td>
            </tr>
            <tr>
                <td>01</td>
                <td class="br_id"><a href="#">1234</td>
                <td>Navanagar Branch</td>
                <td>Plot No:- 27 gokul road 8th cross navnagar Bangalore</td>
            </tr>
            <tr>
                <td>01</td>
                <td class="br_id"><a href="#">1234</td>
                <td>Navanagar Branch</td>
                <td>Plot No:- 27 gokul road 8th cross navnagar Bangalore</td>
            </tr>
            <tr>
                <td>01</td>
                <td class="br_id"><a href="#">1234</td>
                <td>Navanagar Branch</td>
                <td>Plot No:- 27 gokul road 8th cross navnagar Bangalore</td>
            </tr>
            <tr>
                <td>01</td>
                <td class="br_id"><a href="#">1234</td>
                <td>Navanagar Branch</td>
                <td>Plot No:- 27 gokul road 8th cross navnagar Bangalore</td>
            </tr>
            <tr>
                <td>01</td>
                <td class="br_id"><a href="#">1234</td>
                <td>Navanagar Branch</td>
                <td>Plot No:- 27 gokul road 8th cross navnagar Bangalore</td>
            </tr>
            <tr>
                <td>01</td>
                <td class="br_id"><a href="#">1234</td>
                <td>Navanagar Branch</td>
                <td>Plot No:- 27 gokul road 8th cross navnagar Bangalore</td>
            </tr>
            <tr>
                <td>01</td>
                <td class="br_id"><a href="#">1234</td>
                <td>Navanagar Branch</td>
                <td>Plot No:- 27 gokul road 8th cross navnagar Bangalore</td>
            </tr>
            <tr>
                <td>01</td>
                <td class="br_id"><a href="#">1234</td>
                <td>Navanagar Branch</td>
                <td>Plot No:- 27 gokul road 8th cross navnagar Bangalore</td>
            </tr>
            <tr>
                <td>01</td>
                <td class="br_id"><a href="#">1234</td>
                <td>Navanagar Branch</td>
                <td>Plot No:- 27 gokul road 8th cross navnagar Bangalore</td>
            </tr>
            <tr>
                <td>01</td>
                <td class="br_id"><a href="#">1234</td>
                <td>Navanagar Branch</td>
                <td>Plot No:- 27 gokul road 8th cross navnagar Bangalore</td>
            </tr>
        </table>
    </section>
        
    <div class="clr"></div>
    <br>
    <footer id="main-footer">
      <p>Kartik Electrical Company &copy; 2019 All Rights Reserved</p>
    </footer>
  
</body>
</html>