<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Welcome to the website of Kartik Electrical Company">
    <meta name="keywords" content="online bill pay,online electrical bill,bill paying">
    <link rel="stylesheet" href="/CSSfiles/stylecss.css">
    <script src="/JSFiles/script.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Welcome to Kartik Electrical Company</title>
</head>
<body>
    <header>
      <nav id="navbar">
          <div class="container">
          <h1 class="logo"><a href="/Views/page1.html">KEC <i class="fa fa-lightbulb-o"></i></a></h1>
          <ul>
              <li><a href="/Views/login.html">Log-Out</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <section id="contact-form" class="py-3 edit_admin change_password">
        <div class="container">
            <h1 class="l-heading"> <span class="text-primary">Change</span> Password </h1>
            <br>
            <form onsubmit="return validate_change_pass_for_emp()" action="#">
                <div class="form-group">
                    <label for="emp_id">Employee Identity Number :-</label>
                    <input type="text" name="emp_id" id="emp_id">
                    <label id="em_id" style="color: red; visibility: hidden;">Invalid..</label>
                </div>
                <div class="form-group">
                    <label for="old_password">Old Password :-</label>
                    <input type="password" name="old_password" id="old_password">
                    <label id="old_pass" style="color: red; visibility: hidden;">Invalid..</label>
                </div>
                <div class="form-group">
                    <label for="new_password">New Password :-</label>
                    <input type="password" name="new_password" id="new_password">
                    <label id="new_pass" style="color: red; visibility: hidden;">Invalid..</label>
                </div>
                <div class="form-group">
                    <label for="confirm_password">confirm Password :-</label>
                    <input type="password" name="confirm_password" id="confirm_password">
                    <label id="con_new_pass" style="color: red; visibility: hidden;">Invalid..</label>
                </div>
                   <button type="submit" class="btn submit_changed_profile">OK</button>                              
            </form>
        </div>
    </section>
      
    <footer id="main-footer">
      <p>Kartik Electrical Company &copy; 2019 All Rights Reserved</p>

    </footer>
  
</body>
</html>