<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Welcome to the website of Kartik Electrical Company">
    <meta name="keywords" content="online bill pay,online electrical bill,bill paying">
    <link rel="stylesheet" href="/CSSfiles/stylecss.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital@1&display=swap" rel="stylesheet">
    <title>Welcome to Kartik Electrical Company</title>
</head>
<body>
    <header>
      <nav id="navbar">
          <div class="container">
          <h1 class="logo"><a href="/Views/page1.html">KEC <i class="fa fa-lightbulb-o"></i></a></h1>
          <ul>
              <li><a href="/Views/login.html">Log-Out</a></li>
          </ul>
        </div>
      </nav>
    </header>
    
    <section id="login_as_admin">
        <div class="welcome">
            <p>Welcome to <span>KEC <i class="fa fa-lightbulb-o"></i></span> Sir</p>
        </div>
        <br>
        <div class="disp_cust_hedding">Information Of All The Employees of Branch :-</div>
        <br>
        <section id="cust_info">
        <table>
            <thead>
                <tr>
                    <th>Loc_id</th>
                    <th>Branch_Id</th>
                    <th>Wardnum</th>
                    <th>Emp_Id</th>
                    <th>First_Name</th>
                    <th>Middle_Name</th>
                    <th>Last_Name</th>
                    <th>E-mail_Id</th>
                    <th>Address</th>
                    <th>DOB</th>
                    <th>Mob_No</th>
                    <th>Alt_Mob_N0</th>
                    <th>DOJ</th>
                    <th>Salary</th>
                    <th>Admin_id</th>
                    <th>Admin</th>
                </tr>
            </thead>
            <tr>
                <td>21</td>
                <td>2134</td>
                <td>5</td>
                <td>e20558</td>
                <td>Kartik</td>
                <td>Amarnath</td>
                <td>Mashal</td>
                <td>kartikmashal8@gmail.com</td>
                <td>LIG 19 KHB Colony Solapur Road Vijayapur</td>
                <td>01-02-2000</td>
                <td>9535911254</td>
                <td>9900831714</td>
                <td>02-02-2020</td>
                <td>12000</td>
                <td>A-E-123</td>
                <td>Shubham</td>
            </tr>
            <tr>
                <td>21</td>
                <td>2134</td>
                <td>5</td>
                <td>e20558</td>
                <td>Kartik</td>
                <td>Amarnath</td>
                <td>Mashal</td>
                <td>kartikmashal8@gmail.com</td>
                <td>LIG 19 KHB Colony Solapur Road Vijayapur</td>
                <td>01-02-2000</td>
                <td>9535911254</td>
                <td>9900831714</td>
                <td>02-02-2020</td>
                <td>12000</td>
                <td>A-E-123</td>
                <td>Shubham</td>
            </tr>
            <tr>
                <td>21</td>
                <td>2134</td>
                <td>5</td>
                <td>e20558</td>
                <td>Kartik</td>
                <td>Amarnath</td>
                <td>Mashal</td>
                <td>kartikmashal8@gmail.com</td>
                <td>LIG 19 KHB Colony Solapur Road Vijayapur</td>
                <td>01-02-2000</td>
                <td>9535911254</td>
                <td>9900831714</td>
                <td>02-02-2020</td>
                <td>12000</td>
                <td>A-E-123</td>
                <td>Shubham</td>
            </tr>
            <tr>
                <td>21</td>
                <td>2134</td>
                <td>5</td>
                <td>e20558</td>
                <td>Kartik</td>
                <td>Amarnath</td>
                <td>Mashal</td>
                <td>kartikmashal8@gmail.com</td>
                <td>LIG 19 KHB Colony Solapur Road Vijayapur</td>
                <td>01-02-2000</td>
                <td>9535911254</td>
                <td>9900831714</td>
                <td>02-02-2020</td>
                <td>12000</td>
                <td>A-E-123</td>
                <td>Shubham</td>
            </tr>
            <tr>
                <td>21</td>
                <td>2134</td>
                <td>5</td>
                <td>e20558</td>
                <td>Kartik</td>
                <td>Amarnath</td>
                <td>Mashal</td>
                <td>kartikmashal8@gmail.com</td>
                <td>LIG 19 KHB Colony Solapur Road Vijayapur</td>
                <td>01-02-2000</td>
                <td>9535911254</td>
                <td>9900831714</td>
                <td>02-02-2020</td>
                <td>12000</td>
                <td>A-E-123</td>
                <td>Shubham</td>
            </tr>
            <tr>
                <td>21</td>
                <td>2134</td>
                <td>5</td>
                <td>e20558</td>
                <td>Kartik</td>
                <td>Amarnath</td>
                <td>Mashal</td>
                <td>kartikmashal8@gmail.com</td>
                <td>LIG 19 KHB Colony Solapur Road Vijayapur</td>
                <td>01-02-2000</td>
                <td>9535911254</td>
                <td>9900831714</td>
                <td>02-02-2020</td>
                <td>12000</td>
                <td>A-E-123</td>
                <td>Shubham</td>
            </tr>
            <tr>
                <td>21</td>
                <td>2134</td>
                <td>5</td>
                <td>e20558</td>
                <td>Kartik</td>
                <td>Amarnath</td>
                <td>Mashal</td>
                <td>kartikmashal8@gmail.com</td>
                <td>LIG 19 KHB Colony Solapur Road Vijayapur</td>
                <td>01-02-2000</td>
                <td>9535911254</td>
                <td>9900831714</td>
                <td>02-02-2020</td>
                <td>12000</td>
                <td>A-E-123</td>
                <td>Shubham</td>
            </tr>
            <tr>
                <td>21</td>
                <td>2134</td>
                <td>5</td>
                <td>e20558</td>
                <td>Kartik</td>
                <td>Amarnath</td>
                <td>Mashal</td>
                <td>kartikmashal8@gmail.com</td>
                <td>LIG 19 KHB Colony Solapur Road Vijayapur</td>
                <td>01-02-2000</td>
                <td>9535911254</td>
                <td>9900831714</td>
                <td>02-02-2020</td>
                <td>12000</td>
                <td>A-E-123</td>
                <td>Shubham</td>
            </tr>
            <tr>
                <td>21</td>
                <td>2134</td>
                <td>5</td>
                <td>e20558</td>
                <td>Kartik</td>
                <td>Amarnath</td>
                <td>Mashal</td>
                <td>kartikmashal8@gmail.com</td>
                <td>LIG 19 KHB Colony Solapur Road Vijayapur</td>
                <td>01-02-2000</td>
                <td>9535911254</td>
                <td>9900831714</td>
                <td>02-02-2020</td>
                <td>12000</td>
                <td>A-E-123</td>
                <td>Shubham</td>
            </tr>
            <tr>
                <td>21</td>
                <td>2134</td>
                <td>5</td>
                <td>e20558</td>
                <td>Kartik</td>
                <td>Amarnath</td>
                <td>Mashal</td>
                <td>kartikmashal8@gmail.com</td>
                <td>LIG 19 KHB Colony Solapur Road Vijayapur</td>
                <td>01-02-2000</td>
                <td>9535911254</td>
                <td>9900831714</td>
                <td>02-02-2020</td>
                <td>12000</td>
                <td>A-E-123</td>
                <td>Shubham</td>
            </tr>
            <tr>
                <td>21</td>
                <td>2134</td>
                <td>5</td>
                <td>e20558</td>
                <td>Kartik</td>
                <td>Amarnath</td>
                <td>Mashal</td>
                <td>kartikmashal8@gmail.com</td>
                <td>LIG 19 KHB Colony Solapur Road Vijayapur</td>
                <td>01-02-2000</td>
                <td>9535911254</td>
                <td>9900831714</td>
                <td>02-02-2020</td>
                <td>12000</td>
                <td>A-E-123</td>
                <td>Shubham</td>
            </tr>
            <tr>
                <td>21</td>
                <td>2134</td>
                <td>5</td>
                <td>e20558</td>
                <td>Kartik</td>
                <td>Amarnath</td>
                <td>Mashal</td>
                <td>kartikmashal8@gmail.com</td>
                <td>LIG 19 KHB Colony Solapur Road Vijayapur</td>
                <td>01-02-2000</td>
                <td>9535911254</td>
                <td>9900831714</td>
                <td>02-02-2020</td>
                <td>12000</td>
                <td>A-E-123</td>
                <td>Shubham</td>
            </tr>
            <tr>
                <td>21</td>
                <td>2134</td>
                <td>5</td>
                <td>e20558</td>
                <td>Kartik</td>
                <td>Amarnath</td>
                <td>Mashal</td>
                <td>kartikmashal8@gmail.com</td>
                <td>LIG 19 KHB Colony Solapur Road Vijayapur</td>
                <td>01-02-2000</td>
                <td>9535911254</td>
                <td>9900831714</td>
                <td>02-02-2020</td>
                <td>12000</td>
                <td>A-E-123</td>
                <td>Shubham</td>
            </tr>
            <tr>
                <td>21</td>
                <td>2134</td>
                <td>5</td>
                <td>e20558</td>
                <td>Kartik</td>
                <td>Amarnath</td>
                <td>Mashal</td>
                <td>kartikmashal8@gmail.com</td>
                <td>LIG 19 KHB Colony Solapur Road Vijayapur</td>
                <td>01-02-2000</td>
                <td>9535911254</td>
                <td>9900831714</td>
                <td>02-02-2020</td>
                <td>12000</td>
                <td>A-E-123</td>
                <td>Shubham</td>
            </tr>
        </table>
    </section>
        
    <div class="clr"></div>
    <br>
    <footer id="main-footer">
      <p>Kartik Electrical Company &copy; 2019 All Rights Reserved</p>
    </footer>
  
</body>
</html>