<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Welcome to the website of Kartik Electrical Company">
    <meta name="keywords" content="online bill pay,online electrical bill,bill paying">
    <link rel="stylesheet" href="/CSSfiles/stylecss.css">
    <script src="/JSFiles/script.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Welcome to Kartik Electrical Company</title>
</head>
<body>
    <header>
      <nav id="navbar">
          <div class="container">
          <h1 class="logo"><a href="/Views/page1.html">KEC <i class="fa fa-lightbulb-o"></i></a></h1>
          <ul>
              <li><a href="/Views/login.html">Log-Out</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <section id="contact-form" class="py-3 generate_bill">
        <div class="container">
            <h1 class="l-heading"> <span class="text-primary">Generate</span> Bills </h1>
            <p>Please Enter The Specified Information Given Below</p>
            <form onsubmit="return validate_generate_bills()" action="/Views/work_done_successfully.html">
                <div class="form-group">
                    <label for="meter_id">Meter Identity Number :-</label>
                    <input type="number" name="mtr_id" id="mtr_id">
                    <label id="m_id" style="color: red; visibility: hidden;">Invalid..</label>
                </div>
                <div class="form-group">
                    <label for="meter_reading">Present Meter Reading :-</label>
                    <input type="number" name="meter_reading" id="meter_reading">
                    <label id="m_no" style="color: red; visibility: hidden;">Invalid..</label>
                </div>
                   <button type="submit" class="btn">Generate</button>                              
            </form>
        </div>
    </section>>
      
    <footer id="main-footer">
      <p>Kartik Electrical Company &copy; 2019 All Rights Reserved</p>

    </footer>
  
</body>
</html>