<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Welcome to the website of Kartik Electrical Company">
    <meta name="keywords" content="online bill pay,online electrical bill,bill paying">
    <link rel="stylesheet" href="/CSSfiles/stylecss.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Welcome to Kartik Electrical Company</title>
</head>
<body>
	<form method="post" action="/about">
				   <button>
					  About
				  </button>	  
			  </form>
    <header>
      <nav id="navbar">
          <div class="container">
          <h1 class="logo"><a href="/page1.html">KEC <i class="fa fa-lightbulb-o"></i></a></h1>
			   <!-- <form method="post" action="/about">
				   <button>
					  About
				  </button>	  
			  </form> -->
          <ul>
			  <form method="post" action="/">
              <li><button class"current">
				   Home
				  </button></li>		  
			  </form>
			 <!-- <form method="post" action="/about">
				   <button>
					  About
				  </button>	  
			  </form> -->
			  
			  <form method="post" action="/contact">
              <li><a href="/contact.html">Contact</a></li>	  
			  </form>
			  
			  <form method="post" action="/login">
               <li><a href="/login.html">Login</a></li>
			  </form>
          </ul>
        </div>
      </nav>

      <div id="showcase">
        <div class="conatiner">
          <div class="showcase-content">
            <h1> <span class="text-primary"> Enjoy </span>Your life</h1>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel mollitia, 
              laudantium iusto, et accusantium quibusdam distinctio 
              sed iste sapiente asperiores quod, tempora ut facilis impedit?</p>
              <a class="btn" href="/Views/about.html">About our company</a>
          </div>
        </div>
      </div>
    </header>
	 

    <section id="home-info" class="bg-dark">
      <div class="info-img">
        <h3><i class="fa fa-smile-o fa-4x"></i> <br> The MORE LIGHT <br>You Allow Within <br> YOU <br> The brighter <br> THE WORLD <br> You LIVE IN <br>WILL BE </h3>
      </div>
      <div class="info-content">
        <h2> <span class="text-primary">The History</span>  of Our Company</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Amet doloremque deserunt sequi temporibus iure, nisi facere 
          nam explicabo. Ipsam nesciunt dolorem ad soluta sit est.
           Soluta non illum vitae placeat nesciunt, quaerat deserunt 
           consequatur dolore minima laborum suscipit ex dolor?</p>
          <a href="/Views/about.html" class="btn btn-light">Read more</a>
        </div>   
    </section>

    <section id="features">
      <div class="box bg-light">
        <i class="fa fa-laptop fa-3x"></i>
        <h3>Online Bill Payment</h3>
        <p>Lorem ipsum dolor sit amet 
          consectetur adipisicing elit. Alias, animi?</p>

      </div>
      
      <div class="box bg-primary">
        <i class="fa fa-home fa-3x"></i>
        <h3>Free Home Assessment</h3>
        <p>Lorem ipsum dolor sit amet 
          consectetur adipisicing elit. Alias, animi?</p>
      </div>
    
      <div class="box bg-light">
        <i class="fa fa-cogs fa-3x"></i>
        <h3>Free Installation Charges</h3>
        <p>Lorem ipsum dolor sit amet 
          consectetur adipisicing elit. Alias, animi?</p>
      </div>
    </section>

    <div class="clr"></div>
    <footer id="main-footer">
      <p>Kartik Electrical Company &copy; 2019 All Rights Reserved</p>

    </footer>
  
</body>
</html>