<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Welcome to the website of Kartik Electrical Company">
    <meta name="keywords" content="online bill pay,online electrical bill,bill paying">
    <link rel="stylesheet" href="/CSSfiles/stylecss.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital@1&display=swap" rel="stylesheet">
    <title>Welcome to Kartik Electrical Company</title>
</head>
<body>
    <header>
      <nav id="navbar">
          <div class="container">
          <h1 class="logo"><a href="/Views/page1.html">KEC <i class="fa fa-lightbulb-o"></i></a></h1>
          <ul>
              <li><a href="/Views/login_as_customer.html">BACK</a></li>
          </ul>
        </div>
      </nav>
    </header>
    
    <section id="login_as_admin" class="login_as_customer">
        <div class="welcome">
            <p>Welcome to <span>KEC <i class="fa fa-lightbulb-o"></i></span> Sir</p>
        </div>
        <div class="details">
            <p>Your Name                    :-</p>
            <p>Customer Identity Number     :-</p>
            <p>Employee Identity Number        :-</p>
            <p>Location Identity Number     :-</p>
            <p>Location Name                :-</p>
            <p>Branch Identity Number       :-</p>
            <p>E-mail Id                    :-</p>
            <p>Mobile Number                :-</p>
            <p>Ward Number                  :-</p>
            <p>Meter Id                     :-</p>
            <p>Prev_meter_reading           :-</p>
            <p>Present_meter_readin         :-</p>
            <p>Address                      :-</p>
            <p>Total Payable Amount         :-</p>
			<p>Due Date                     :-</p>
            <br>
            <div class="edit_admin edit_admin2">
                <label for="change_password" class="btn"><a href="/Views/proceed_to_pay.html">Proceed To Pay</a></label>
            </div>
        </div>
        
    </section>

    <div class="clr"></div>
    <br>
    <footer id="main-footer">
      <p>Kartik Electrical Company &copy; 2019 All Rights Reserved</p>
    </footer>
  
</body>
</html>