<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome to Kartik Electrical Company</title>
</head>
<body>
	<form method="post" action="/about">
		<button>
			About
		</button>
	</form>
  
</body>
</html>